# Dependency directories
node_modules/

# Build outputs
dist/
build/
.svelte-kit/
.next/

# OS metadata
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.env*
